@model IEnumerable<MinesweeperApp.Models.Cell>

<style>
    .game-button {
        border: none;
    }

    .button-image {
        width: 100%;
    }

    .button-overlay-image {
        width: 100%;
    }

    .grid-area {
        display: flex;
        flex-wrap: wrap;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }

    .single-button {
        position: relative;
        text-align: center;
        width: 10%;
        border: none;
    }

    .centered-text {
        position: absolute;
        color: #fff;
        font-size: 1.5vw;
        font-family: 'Segment7Standard';
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
    }

    .time-stamp {
        margin: 10px;
    }
</style>

@{
    string[] imageNames = { "blue-button.png", "red-button.png", "bomb.png", "flag.png" };
}

<div class="time-stamp">
    <p class="d-inline" style="margin-inline: 7px;">Time started: @ViewBag.TimeStarted</p>
    <p class="d-inline" id="timer">Time played: @ViewBag.TimePlayed</p>

    <form class="d-inline" style="margin-inline: 7px;">

        <button type="submit" class="begin" asp-controller="Game" asp-action="SaveGame">Save</button>
    </form>

</div>

<form class="game-form" style="margin: auto; width: 80%">
    <div class="grid-area">

        @for (int i = 0; i < Model.Count(); i++)
        {
            if (i % ViewBag.Width == 0)
            {
                <div class="line-break"></div>
            }
            <div class="single-button" id=@i>
                <button class="game-button" type="submit" value="@Model.ElementAt(i).Id" name="buttonNumber" asp-controller="Game" asp-action="HandleButtonClick">
                    <img class="button-image" src="~/img/@imageNames[Model.ElementAt(i).Visited ? 0 : 1]" />
                    <div class="centered-text">
                        @if (Model.ElementAt(i).Visited && Model.ElementAt(i).LiveNeighbors != 0 && !Model.ElementAt(i).Mine)
                        {
                            @Model.ElementAt(i).LiveNeighbors
                        }
                        else if (Model.ElementAt(i).Visited && Model.ElementAt(i).Mine)
                        {
                            <img class="button-overlay-image" src="~/img/@imageNames[2]" />
                        }
                        else if (Model.ElementAt(i).Flagged)
                        {
                            <img class="button-overlay-image" src="~/img/@imageNames[3]" />
                        }
                    </div>
                </button>
            </div>
        }

    </div>
</form>

<script>

    setInterval(myTimer, 1000);

    function myTimer() {
        $.ajax({
            type: 'GET',
            dataType: "text",
            url: '/game/UpdateTimer',
            success: function (data) {
                $('#timer').html("Time played: " + data);
            },
            error: function (jq, textError, errorMsg) {
                console.log(textError + " : " + errorMsg);
            }
        });
    };
</script>