@model CST350_Milestone1.Models.UserModel

<!DOCTYPE html>
<html lang="en" >

    <head>
         <title>Welcome @Html.DisplayFor(model => model.UserName)</title>
         <style>
             button{
                 width: 200px;
                 padding: 15px 0;
                 text-align: center;
                 margin: 20px 10px; 
                 font-weight: bold;
             }

         </style>

    </head>

    <body>
         <a asp-controller="Game" asp-action="Index"> 
            <button type="button"><span></span>Mine Sweeper Game</button>
          </a>

            <button type="button"><span></span>User Data</button>

        <div>
            <br />
            <a asp-action="Index">Back to List</a>
        </div>
    </body>
</html>

