﻿
@{
    ViewData["Title"] = "About Project";
}


    <h1>Welcome to our CST 350 Minesweeper Application </h1>

    <p> 
        We are Kevin and Gurjap, two dedicated students with a passion for web development, embarked on an ambitious project to create a multi-page Minesweeper application using ASP.NET MVC, AJAX, jQuery, and essential CSS/HTML concepts.
        Their journey began with meticulous planning, outlining the project's scope and design. As they delved into development, they crafted an intuitive user interface using HTML and CSS, ensuring a seamless gaming experience.
        Leveraging ASP.NET MVC, they organized the application's structure, enabling efficient data handling and user interactions. Implementing the Minesweeper game logic was a significant challenge, but Kevin and Gurjap's determination
        led them to a breakthrough, resulting in a functional game engine. As they integrated AJAX and jQuery, the application's responsiveness and real-time updates elevated the user experience. With teamwork at the core, they divided tasks,
        efficiently debugging and optimizing code, which led to the successful creation of a Minesweeper multi-page application. Their hard work paid off,
        achieving their goals of mastering ASP.NET MVC, AJAX, jQuery, and honing their CSS/HTML skills while delivering a captivating and engaging Minesweeper experience.
    </p>


