﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h2>Welcome to our CST 350 Minesweeper Application </h2>

    <br />

    Designed by
    <br />
    Kevin Reynoso
    <br />
    Gurjap Ghadri
    <br />

</div>

