root {
    --background-color: #c4c4c4;
    --text-color: #000000;
    --nav-color: #ffffff;
    --nav-text: #525252;
}

html[data-theme='light'] {
    --background-color: #c4c4c4;
    --text-color: #000000;
    --nav-color: #ffffff;
    --nav-text: #525252;
}

html[data-theme='dark'] {
    --background-color: #001330;
    --text-color: #ffffff;
    --nav-color: #001033;
    --nav-text: #ffffff;
}


body {
    background: var(--background-color);
    color: var(--text-color)
}

.navbar {
    background: var(--nav-color);
}

.navbar-brand {
    color: var(--nav-text)
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*Display grid qith 12 cols*/
    .grid {
        display: grid;
        grid-template-columns: repeat(12,35px);
        grid-template-rows: repeat(12,35px);
    }
    /*Adjust the cell picture*/
    .btn .cell {
        width: 35px;
        object-fit: contain;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*Display grid qith 12 cols*/
    .grid {
        display: grid;
        grid-template-columns: repeat(12,40px);
        grid-template-rows: repeat(12,40px);
    }
    /*Adjust the cell picture*/
    .btn .cell {
        width: 40px;
        object-fit: contain;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*Display grid qith 12 cols*/
    .grid {
        display: grid;
        grid-template-columns: repeat(12,60px);
        grid-template-rows: repeat(12,60px);
    }
    /*Adjust the cell picture*/
    .btn .cell {
        width: 60px;
        object-fit: contain;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*Display grid qith 12 cols*/
    .grid {
        display: grid;
        grid-template-columns: repeat(12,65px);
        grid-template-rows: repeat(12,65px);
    }
    /*Adjust the cell picture*/
    .btn .cell {
        width: 65px;
        object-fit: contain;
    }
}
