@model CST350_Milestone1.Models.UserModel

<div>
    <h4>Registration Failed</h4>
    <hr />
    
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
